.bg-account-page {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-y: hidden;
  }

  .bg-account-page > .personal-info {
    /* max-width: 500px; */
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
  }
